html {
  background-color: rgb(212, 168, 76);
  width: 100vw;
  height: 100vh;
}

#content {
  background-color: rgb(212, 168, 76);
  padding-top: 100px;
  padding: 100px 20px 20px 20px;
}

#copyright {
  position: absolute;
  bottom: 0%
}

a.nav-link, span.navbar-text {
 color: white!important;
}

#not-found-img {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50vw;
}

.half-width {
  width: 50%;
}

.large-font {
  font-size: 100px;
  background-color: rgb(212, 168, 76);
}
